# Getting coordinates for Toronto postal codes

The following code combines information about postal codes that resulted from previous exercise with their respective geolocations.

In [12]:
# The code was removed by Watson Studio for sharing.

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [13]:
# load the file with coordinates
body = client_be32321c114f429f885f30d4c4c5fcb0.get_object(Bucket='courseracapstoneproject-donotdelete-pr-irpnzfnibzlisw',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [14]:
# double check: check if the data frames have the same number of rows
df_data_2.shape[0] == df_data_1.shape[0]

True

In [15]:
# merge the two data frames
toronto_locations = pd.merge(df_data_1, df_data_2, how = 'outer', left_on = 'PostalCode', right_on = 'Postal Code')
# get rid of the new Postal Code column (unnecessary duplication)
toronto_locations.drop('Postal Code', axis = 1, inplace = True)
# check the first 5 observations
toronto_locations.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [16]:
# check the final shape; should be 103 if there is 100% match in the postal code columns across the two data frames
toronto_locations.shape

(103, 5)